{
  "plugins": [
    "eslint-plugin-import-order-alphabetical",
    "unused-imports"
  ],
  "rules": {
    "newline-before-return": "error",
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block"
      },
      {
        "blankLine": "always",
        "prev": "block",
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "block-like"
      },
      {
        "blankLine": "always",
        "prev": "block-like",
        "next": "*"
      }
    ],
    "import-order-alphabetical/order": "error",
    "no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error"
  },
  "extends": ["next", "prettier", "next/core-web-vitals"],
  "env": {
    "jest": true
  }
}
