@mixin bg-gradient() {
    background-image: linear-gradient(
        180deg,
        hsl(356deg 100% 44%) 0%,
        hsl(356deg 99% 50%) 2%,
        hsl(357deg 97% 55%) 4%,
        hsl(358deg 97% 61%) 6%,
        hsl(358deg 95% 66%) 9%,
        hsl(359deg 94% 72%) 11%,
        hsl(359deg 93% 78%) 14%,
        hsl(0deg 91% 83%) 18%,
        hsl(0deg 91% 87%) 21%,
        hsl(0deg 93% 89%) 25%,
        hsl(0deg 91% 91%) 29%,
        hsl(0deg 89% 93%) 34%,
        hsl(0deg 93% 94%) 39%,
        hsl(0deg 90% 96%) 44%,
        hsl(0deg 83% 98%) 49%,
        hsl(0deg 100% 99%) 55%,
        hsl(240deg 100% 94%) 61%,
        hsl(240deg 100% 85%) 67%,
        hsl(240deg 100% 75%) 73%,
        hsl(240deg 100% 66%) 79%,
        hsl(240deg 100% 56%) 85%,
        hsl(240deg 100% 47%) 90%,
        hsl(240deg 100% 38%) 95%,
        hsl(240deg 100% 28%) 100%
    );
}

.Inside {
    &::before {
        z-index: 1;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        margin-left: -16px;
        background: var(--grey-1000-50);
    }
}

.Inside,
.Outside {
    &::before,
    &::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 60%;
    }
}

.Outside {
    &::before {
        @include bg-gradient();
        width: 48px;
        height: 48px;
        margin-top: -24px;
        margin-left: -24px;
        animation: spinnerRotate 800ms linear infinite;
    }

    &::after {
        @include bg-gradient();
        width: 40px;
        height: 40px;
        margin-top: -20px;
        margin-left: -20px;
        animation: spinnerRotateBack 1200ms linear infinite;
    }
}

.Small {
    .Inside {
        &::before {
            width: 16px;
            height: 16px;
            margin-top: -8px;
            margin-left: -8px;
            right: -37px;
            left: initial;
        }
    }

    .Outside {
        &::before {
            right: -43px;
            width: 28px;
            height: 28px;
            margin-top: -14px;
            margin-left: -14px;
            left: initial;
            animation-duration: 1000ms;
        }

        &::after {
            right: -40px;
            width: 22px;
            height: 22px;
            margin-top: -11px;
            margin-left: -11px;
            left: initial;
            animation-duration: 800ms;
        }
    }
}

@keyframes spinnerRotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinnerRotateBack {
    to {
        transform: rotate(-360deg);
    }
}
