.react-tagsinput {
    background-color: #eee;
    border-bottom: 2px solid #000;
    overflow: hidden;
    padding-left: 8px;
    padding-top: 8px;
}

// .react-tagsinput--focused {
//   border-color: yellow;
// }

// .react-tagsinput-remove {
//   cursor: pointer;
//   font-weight: bold;
// }

.react-tagsinput-tag a::before {
    content: ' ×';
}

// .react-tagsinput-input {
//   background: transparent;
//   border: 0;
//   color: #777;
//   font-family: sans-serif;
//   font-size: 13px;
//   font-weight: 400;
//   margin-bottom: 6px;
//   margin-top: 1px;
//   outline: none;
//   padding: 5px;
//   width: 80px;
// }
