.CardLink {
    &.Yellow {
        border-bottom: 3px solid var(--green-tilleul-verveine-main-707);
    }

    &.Pink {
        border-bottom: 3px solid var(--pink-tuile-main-556);
    }

    &.Blue {
        border-bottom: 3px solid var(--blue-ecume-main-400);
    }

    &.Green {
        border-bottom: 3px solid var(--green-bourgeon-main-640);
    }

    &.Purple {
        border-bottom: 3px solid var(--purple-glycine-main-494);
    }
}
