.ToolBox {
    position: fixed;
    z-index: 1001;
    right: 0;
    top: 20%;
    width: 320px;
    background: var(--grey-1000-75);
    text-align: center;

    &.Active {
        border: 1px solid var(--grey-975);
        box-shadow: -2px 2px 6px 1px rgb(0 0 0 / 0.3);
    }
}

.Arrow:before {
    position: absolute;
    left: 10px;
}

.Header {
    cursor: pointer;
}

.HeaderTxt {
    text-align: center;
    border-bottom: 1px solid var(--grey-975);
    padding: 8px 6px;
}

.ToolIcon {
    position: absolute;
    right: 0;
    top: 2px;
    padding: 10px;

    &.Active {
        border: 1px solid var(--grey-975);
        background: var(--grey-1000-75);
        box-shadow: -2px 2px 6px 1px rgb(0 0 0 / 0.3);
    }
}
