.SideNav {
    &.Active {
        background: var(--grey-1000-75);
        box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 0.3);
    }

    span {
        cursor: pointer;
    }
}

.Icon {
    position: absolute;
    left: 1px;
    top: 7px;
    padding: 8px;
    background: var(--grey-1000-75);

    &.Active {
        border: 1px solid var(--grey-975);
        box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 0.3);
    }
}

.SideNavContent {
    padding: 0 0 16px 16px;

    &.Active {
        border-top: 1px solid var(--grey-975);
    }
}

.SideNavLabel {
    height: 40px;
    padding-top: 8px;
}

.Arrow:before {
    position: absolute;
    right: 50px;
}

#Sticky {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}

@media (min-width: 767px) {
    .SideNav {
        &.Active {
            border: 1px solid var(--grey-975);
        }
    }
}
