.SideNav {

  &.Active {
    border: 1px solid var(--g-300);
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 0.3);
  }

  span {
    cursor: pointer;
  }
}

.Icon {
  position: absolute;
  left: 10px;
  top: 7px;
  padding: 8px;
  background: #fff;

  &.Active {
    border: 1px solid var(--g-300);
    box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 0.3);

  }
}

.SideNavContent {
  padding: 0 0 16px 16px;

  &.Active {
    border-top: 1px solid var(--g-300);
  }
}

.SideNavLabel {
  height: 40px;
  padding-top: 8px;
}
