.Button {
    display: inline-block;

    &.Square {
        max-width: 200px;
    }

    button {
        padding: 26px;

        &.Medium {
            padding: 4px 10px;
        }
    }

    .Icon {
        padding-bottom: 10px;
    }
}
