.fr-sidemenu {
    z-index: 1;
    .fr-sidemenu__item a {
        padding-right: 0;
    }

    div.fr-sidemenu__inner {
        border-right: none;
        padding: 0;
        box-shadow: none;
        overflow: inherit;

        .fr-collapse {
            padding: 0;
        }
    }
}

.fr-accordion {
    .fr-accordion__title + .fr-collapse {
        margin: 0;
    }

    .fr-accordion__btn.fr-btn--lg {
        padding-left: 16px;
    }
}

.psg-content-wrapper {
    .fr-highlight {
        margin-left: 0;
    }
}
.psg-header-page {
    .fr-h3 {
        margin: 0;
    }
}
