html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**
    Reset
 */
li {
    list-style: none;
    padding: 0;
}

/**
    Size
 */
.max-200 {
    max-height: 200px;
    overflow: scroll
}

/**
    Space
 */
.py-10 {
    padding-bottom: 10px;
    padding-top: 10px;
}